@import url('https://fonts.googleapis.com/css?family=Sunflower:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');

#trans{
	margin-top:3%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	text-align:center;
	width: 800px;
	height:500px;
	border: 2px solid #4F3BC2;
}

#rankTable{
	margin-top:5%;
	margin-left:auto;
	margin-right:auto;
	font-family: 'Sunflower', sans-serif;
}

#rankTable #rank{
	color:#C00E79;
}

#transTable{
	margin-left:auto;
	margin-right:auto;
	font-family: 'Sunflower', sans-serif;
}

select{
	font-family:'Cute Font', cursive;
	font-size:25px;
}

textarea{
		font-family:'Cute Font', cursive;
		font-size:20px;
		min-height:250px;
		weight:550px;
		resize:none;
}

button{
	width: 380px;
	font-size:20px;
}

.dataTable{
	margin-left:auto;
	margin-right:auto;
}